.app_folder_widget{
    position: fixed;
    z-index: 97;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    text-align: center;
}

.app_folder_widget_box{
    width: 94%;
    height: 70%;
    max-height: 80%;
    margin: auto;
    position: relative;
    background: #fff;
}

.app_folder_widget_box_header{
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    background: #eee;
    font-weight: bold;
    padding: 20px 0;
    font-size: 1.1em;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

.app_folder_widget_box_header_title{
    color: #333;
    text-align: left;
    position: relative;
    padding: 0 50px 0 30px;
}

.app_folder_widget_box_header_title span{
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 0.8em;
    font-weight: 300;
    color: #555;
    padding: 5px 8px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
}

.app_folder_widget_box_header_title span:hover{
    background: #BC6060;
    color: #fff;
}

.app_folder_widget_nav{
    text-align: left;
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    min-width: 300px;
    height: 100%;
    overflow: auto;
    background: #fff;
    padding: 30px;
    border-left: 1px solid #eee;
    z-index: 99;
    display: none;
}

.app_folder_widget_nav_toogle{
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 0;
    padding: 20px 5px;
    background: #BC6060;
    color: #fff;
    overflow: visible;
    opacity: 0.5;
    cursor: pointer;
    font-size: 0.7em;
}

.app_folder_widget_nav_toogle:hover{
    opacity: 1;
}

.app_folder_widget_nav a{
    display: block;
    padding: 10px 15px;
    background: #fbfbfb;
    border-bottom: 1px solid #fff;
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: none;
    color: #555;
}

.app_folder_widget_nav a:before{
    content: "\e92f";
}

.app_folder_widget_nav a:hover{
    background: #eee;
}

.app_folder_widget_nav .wc_active,
.app_folder_widget_nav .wc_active:hover{
    background: #0077b3;
    color: #fff;
}

.app_folder_widget_nav .wc_active:before {
    content: "\e930";
}

.app_folder_widget_content{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
}

.app_folder_widget_content .app_folder_widget_nav_toogle{
    left: auto;
    right: 0;
    background: #0077b3;
    z-index: 98;
}

.app_folder_widget_content_folder{
    max-height: 100%;
    overflow: auto;
    padding: 30px;
}

.app_folder_widget_content_file{
    padding: 20px;
    background: #fbfbfb;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.app_folder_widget_content_file .file_icon{
    font-size: 1em;
    font-weight: 300;
    color: #555;
}

.app_folder_widget_content_file .file_icon:before{
    font-size: 1.8em;
    vertical-align: middle;
}

.app_folder_widget_content_file .file_title{
    font-size: 0.875em;
    margin: 10px 0 20px 0;
}

.app_folder_widget_content_file .file_open{
    font-size: 0.7em;
    font-weight: 300;
    color: #ccc;
    margin-top: 20px;
}

.app_folder_widget_footer{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 20px 10px;
    background: #eee;
    text-align: center;
    font-size: 0.65em;
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

.app_folder_open{
    margin-left: 8px !important;
}

.app_folder_open b{
    font-weight: 600;
    margin-left: 4px;
}

@media(max-width: 30em){
    .app_folder_open b{
        display: none;
    }
}
